@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xl: 80rem;
}

:root {
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --border: oklch(0.269 0 0);
  --ring: oklch(0.556 0 0);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary-lightest: oklch(0.8768 0.0635 247.84);
  --primary-lighter: oklch(0.7949 0.1087 248.57);
  --primary-light: oklch(0.7191 0.1517 250.3);
  --primary-default: oklch(0.652 0.1901 253.21);
  --primary-dark: oklch(0.5705 0.1789 254.42);
  --primary-darker: oklch(0.4937 0.1635 255.16);
  --primary-darkest: oklch(0.429 0.1392 254.57);
  --secondary-lightest: oklch(0.9339 0.0665 83.13);
  --secondary-lighter: oklch(0.8928 0.1044 81.26);
  --secondary-light: oklch(0.8563 0.1377 79.89);
  --secondary-default: oklch(0.8228 0.1606 76.63);
  --secondary-dark: oklch(0.7927 0.171 70.67);
  --secondary-darker: oklch(0.6968 0.149661 71.4551);
  --secondary-darkest: oklch(0.5956 0.127652 71.8394);
  --neutral-lightest: oklch(0.9702 0 0);
  --neutral-lighter: oklch(0.9067 0 0);
  --neutral-light: oklch(0.8452 0 0);
  --neutral-default: oklch(0.7155 0 0);
  --neutral-dark: oklch(0.5795 0 0);
  --neutral-darker: oklch(0.4386 0 0);
  --neutral-darkest: oklch(0.36 0 0);
  --success: oklch(0.6731 0.1624 144.21);
  --fail: oklch(0.6427 0.2153 28.81);
  --link: oklch(0.652 0.1901 253.21);
}

@theme inline {
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-background: var(--primary-darkest);
  --color-foreground: var(--foreground);
  --color-primary-lightest: var(--primary-lightest);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-light: var(--primary-light);
  --color-primary-default: var(--primary-default);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darker: var(--primary-darker);
  --color-primary-darkest: var(--primary-darkest);
  --color-secondary-lightest: var(--secondary-lightest);
  --color-secondary-lighter: var(--secondary-lighter);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-default: var(--secondary-default);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-darker: var(--secondary-darker);
  --color-secondary-darkest: var(--secondary-darkest);
  --color-neutral-lightest: var(--neutral-lightest);
  --color-neutral-lighter: var(--neutral-lighter);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-default: var(--neutral-default);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-darker: var(--neutral-darker);
  --color-neutral-darkest: var(--neutral-darkest);
  --color-success: var(--success);
  --color-fail: var(--fail);
  --color-link: var(--link);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
